<ion-header no-border>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section>
      <ion-item>
          <ion-label position="floating">Codigo</ion-label>
          <ion-input type="number" [(ngModel)]="codigo" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="nip"></ion-input>
        </ion-item>
  </section>
  <br/>
  <section>
    <ion-button expand="round" fill="outline" (click)="validar()">Ingresar</ion-button>
  </section>
</ion-content>
